.newProductForm {
  :is(h1) {
    text-align: center;
  }
}

.newProductForm > form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: brown;
  border: 3px solid lightcoral;
  padding: 20px;
  width: fit-content;
  :is(label) > input {
    width: 100%
  }
  :is(h1), :is(label), :is(span), .file-select  {
    color: white
  }
  > .submit-button {
    background-color: lightcoral;
    border: 2px solid white;
    box-shadow: 1px 1px 5px lightcoral;
    padding: 5px 0;
    font-size: 1em;
    text-align: center;
    color: white
  }
}



.customizable {
  display: flex;
  gap: 10px;
  .options {
    display: flex;
    gap: 2px
  }
}

.dimensions {
  display: flex;
  gap: 5px;
  flex-wrap: nowrap;
  .size {
    width: 65px;
  }
}

.uploadImg {
  display: flex;
  flex-direction: column;
  gap: 5px
}
