.adminPage > .hero {
  background-image: url('https://images.pexels.com/photos/1419923/pexels-photo-1419923.jpeg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: -500px -200px;
  background-size: 150%;
  height: 225px;
  margin-top: -60px;
}

.adminPage > .hero > .overlay {
  background-color: rgba(255, 255, 255, 0.3);
  width: 100%;
  height: 100%;
}

.adminPage .content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.adminPage > .main-content {
  display: flex;
  padding: 50px 0;
  min-height: 60vh;
  .main-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: cent;
  }
}

.adminPage > .main-content > .left-section {
  width: 20%;
  display: flex;
  padding: 10px;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  .selection {
    cursor: pointer;
  }
}
