.landingPage {
  background-color: brown;
}

.landingPage .hero {
  background-image: url("https://aa-project-3.s3.amazonaws.com/0013e806592c462abf73e3d1aa2d4c25.jpeg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  /* background-position: center -200px;  Great for 1080 and smaller */
  margin-top: -60px;
  background-position: 0px -150px;
  background-size: cover;
  min-height: 200px;
  height: 100vh;
  min-height: 650px;
}

.landingPage > .hero > .overlay {
  background-color: rgba(255, 255, 255, 0.219);
  width: 100%;
  height: 100%;
}

.landingPage > .hero > .overlay > .content {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: start;
  padding-top: 15%;
  padding-left: 30%;
  align-items: start;
  text-shadow: 2px 2px 3px lightcoral;
  :is(h1) {
    > :is(span) {
      font-size: 3rem;
      display: flex;
      color: brown;
    };
  }
  :is(button) {
    cursor: pointer;
    background-color: brown;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 20px 40px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.452);
  }
}
