.navigation {
  background-color: transparent;
  padding: 10px 0
}

.navigation > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-icons {
  height: 100%;
  font-size: 1.1em;
}

.left.nav-icons {
  width: 100px;
}

.right.nav-icons {
  display: flex;
  justify-content: flex-end;
  width: 100px;
  gap: 10px
}

.nav-icons > a {
  background-color: transparent;
  border: none;
  font-size: 1.2em;
}

.profile-dropdown {
  position: absolute;
}
