.navigation {
  background-color: transparent;
  padding-bottom: 10px;
  * {
    color: brown;
  }
}

.navigation > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation .logo > :is(h1) {
  color: brown;
  text-shadow: 2px 2px 3px lightcoral;
}

.nav-icons {
  height: 100%;
  font-size: 1.3em;
  :is(svg) {
    cursor: pointer;
  }
}

.left.nav-icons {
  width: 100px;
}

.right.nav-icons {
  display: flex;
  justify-content: flex-end;
  width: 100px;
  gap: 10px
}

.nav-icons > a {
  background-color: transparent;
  border: none;
  font-size: 1.2em;
}

#account-icon {
  list-style: none;
}

.dropdown-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: brown;
  border: 2px solid lightcoral;
  min-width: 100px;
  border-radius: 5px;
  font-size: 1.1em;
  padding: 10px 20px;
  * {
    color: white
  }
  :is(li) {
    list-style: none;
    user-select: none;
  }
  :hover {
    cursor: pointer;
  }
}
